################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs/Inventory API4/v16/Server/sqlite3/db.lock
/.vs/Inventory API4/v16/Server/sqlite3/
/.vs/Inventory API4/v15/Server/sqlite3/
/.vs/Inventory API4/v15/
/Inventory Domain Layer/obj
/Inventory Domain Layer/bin
/Inventory API4/obj
/Inventory API4/bin
/InventoryBL/obj
/InventoryBL/bin
/InventoryDAL/obj
/InventoryDAL/bin
/Helper/bin
/Helper/obj